<!DOCTYPE html>
<html>
<head>
  <title>ProyectoDewVeterinaria</title>
  <%= stylesheet_link_tag "templatemo_style", :media => "all" %>
  <%= javascript_include_tag "piroBox.1_2" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
